section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img.hill{
    z-index: 999;
}

section img.bushes{
    z-index: 888;
    
}

section img.mountain{
    z-index: 777;
    width: 100vw;
}

section img.nebula{
    z-index: 666;
    opacity: 0.2; 
}

section img.stars-front{
    z-index: 444;
    opacity:0.6
}

section img.glow{
    z-index: 333;
    opacity: 0.5;
    
}

section img.stars-back{
    z-index: 222;
}

section img.clouds{
    z-index: 111
}